<button mat-raised-button routerLink="/" color="accent">Назад</button>

<mat-card *ngIf="film" class="example-card">
  <mat-card-header>
    <mat-card-title>{{film.Title}}a</mat-card-title>
  </mat-card-header>
  <div class="wrap">
    <div *ngIf="film.Poster !== 'N/A'" class="wrap-img">
      <img class="img" mat-card-image src={{film.Poster}} alt={{film.Title}}>
    </div>
    <mat-list>
      <mat-list-item>{{film.Title}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{film.Plot}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{film.Released}}</mat-list-item>
    </mat-list>
  </div>
</mat-card>
