.example-card {
  width: 200px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin: 0 10px 10px 0;
}

.films {
  display: flex;
  flex-wrap: wrap
}

:host ::ng-deep .mat-card-title {
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
}

:host ::ng-deep .mat-card-image {
  margin-top: 0;
  width: inherit;
  margin: 0;
}

:host ::ng-deep .mat-card-actions {
  display: flex;
  justify-content: space-around
}

.wrap-img {
  height: 0;
  padding-top: 100%;
  position: relative;
  display: block;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

:host ::ng-deep .mat-card-image:first-child {
  margin-top: 0;
}

.example-full-width {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.option {
  height: auto;

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__button {
    height: 40px;
  }
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}
