<mat-form-field class="full-width">
  <input matInput placeholder="Поиск фильма" aria-label="Search" [matAutocomplete]="auto" [formControl]="search">
  <mat-autocomplete class="option3" #auto="matAutocomplete">
    <mat-option (click)="choiceFilm(film)" class="option" *ngFor="let film of resultSearch" [value]="film.Title">
      <div class="option__data">
        <div class="option__text">
          <img *ngIf="film.Poster !== 'N/A'" class="option-img" aria-hidden [src]="film.Poster" height="80">
          <span>{{film.Title}}</span> |
          <small>Год: {{film.Year}}</small>
        </div>
        <button class="option__button" (click)="addList(film); $event.stopPropagation()" mat-raised-button
          color="primary">Добавить</button>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="resultError">
  {{resultError}}
</div>

<div *ngIf="isError; else ResultSearch">
  {{errorText}}
</div>

<ng-template #ResultSearch>
  <div class="films" *ngIf="filmDetails">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{filmDetails.Title}}a</mat-card-title>
      </mat-card-header>
      <div *ngIf="filmDetails.Poster !== 'N/A'" class="wrap-img">
        <img class="img" mat-card-image src={{filmDetails.Poster}} alt={{filmDetails.Title}}>
      </div>
      <mat-card-actions>
        <button mat-button (click)="detailsFilm(filmDetails.imdbID)">Подробнее</button>
        <button mat-button (click)="addList(filmDetails)">Добавить</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <br>
  <h1>Мои фильмы</h1>

  <div class="films" *ngIf="myListFilms.length">
    <ng-container *ngFor="let myFilm of myListFilms">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{myFilm.Title}}a</mat-card-title>
        </mat-card-header>
        <div *ngIf="myFilm.Poster !== 'N/A'" class="wrap-img">
          <img class="img" mat-card-image src={{myFilm.Poster}} alt={{myFilm.Title}}>
        </div>
        <mat-card-actions>
          <button mat-button (click)="detailsFilm(myFilm.imdbID)">Подробнее</button>
          <button mat-button (click)="delFilm(myFilm.imdbID)">Удалить</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</ng-template>
